@import "../variables";
header {
  padding: 20px 0;
  border-top: 1px solid $rr-border-color;
  border-bottom: 1px solid $rr-border-color;
  position: sticky;
  width: 100%;
  top: 10px;
  left: 0;
  z-index: 10;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    @include container-size;

    a {
      text-decoration: none;
    }

    h1 {
      color: $rr-white-color;
      letter-spacing: 1px;
      font-weight: 500;
      display: flex;
      align-items: center;

      svg {
        font-size: 32px;
        margin-right: 15px;
        display: none;
      }

      span {
        color: $rr-primary-color;
        position: relative;
        top: 4px;
        width: min-content;
      }
    }

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 20px;

      li {
        a {
          text-decoration: none;
          color: $rr-gray-color;
          transition: 200ms ease;

          &:hover {
            color: $rr-purple-color;
          }
        }
      }
    }
    button {
      font-size: 16px;
      padding: 10px 15px;
      background-color: $rr-primary-color;
      color: $rr-white-color;
      font-weight: 600;
      border: none;
      border-radius: 5px;
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      transition: 200ms ease;
      position: relative;
      overflow: hidden;
      z-index: 1;

      svg {
        font-size: 20px;
        transition: 200ms ease;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $rr-button-slide;
        transition: width 300ms ease-in-out;
        z-index: -1;
      }

      &:hover {
        svg {
          transform: rotate(45deg);
        }

        &::after {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 778px) {
    nav ul {
      display: none;
    }

    nav h1 svg {
      display: block;
    }
  }
}
