$rr-primary-color: #5c45fd;
$rr-purple-color: #a89bff;
$rr-dark-color: #161616;
$rr-gray-color: #969799;
$rr-white-color: #f5f5f5;
$rr-button-slide: #6c58f1;
$rr-border-color: #c3c4c518;
$rr-purple-border-color: #a89bff52;

$rr-cards-bg-color: #ffffff0d;
$rr-cards-bg-hover-color: #ffffff1b;

$rr-bg-glow: #5e45fd17;
@mixin container-size {
  max-width: 1520px;

  box-sizing: border-box;
  margin: 0 auto;
}
